/*
 * HLA Typing Pipeline Configuration
 * Multi-tool HLA typing with consensus voting
 */

params {
    // Input/Output
    input_bam       = null
    input_fastq_1   = null
    input_fastq_2   = null
    input_samplesheet = null
    outdir          = './results'

    // QC thresholds for HLA read warnings
    min_hla_reads   = 1000      // Minimum HLA reads for reliable typing
    min_read_length = 50        // Minimum average read length
    max_error_rate  = 0.05      // Maximum acceptable error rate (5%)

    // Sequence type for OptiType (dna or rna)
    seq_type        = 'dna'

    // Reference genome version
    reference       = 'hg38'  // hg38 or hg19

    // HLA genes to type
    hla_genes       = 'HLA-A,HLA-B,HLA-C,HLA-DRB1,HLA-DQA1,HLA-DQB1,HLA-DPA1,HLA-DPB1'

    // Tool selection (comma-separated list)
    // Available: spechla,hlahd,arcashla,optitype
    tools           = 'spechla,hlahd'

    // Resource settings
    max_cpus        = 8
    max_memory      = '32.GB'
    max_time        = '24.h'

    // Container paths
    container_dir   = "${projectDir}/../hla_references/containers"

    // Database paths
    hlahd_db        = "${projectDir}/../hla_references/databases/hlahd_db"
    hlala_graphs    = "${projectDir}/../hla_references/databases/hlala_graphs"

    // HLA*LA settings
    hlala_graph     = 'PRG_MHC_GRCh38_withIMGT'

    // Consensus settings
    min_tools       = 1          // Minimum tools required for consensus
    resolution      = '2-field'  // 2-field, 4-field
    expected_reads  = 1000       // Expected reads per allele for confidence calculation
    weighting       = 'read_confidence'  // Weighting method: equal, read_confidence, tool_quality

    // LOH (Loss of Heterozygosity) analysis settings
    // Requires SpecHLA output and tumor purity/ploidy estimates
    run_loh         = false      // Enable LOH analysis
    tumor_purity    = null       // Tumor purity (0-1), required for LOH
    tumor_ploidy    = null       // Tumor ploidy, required for LOH
    loh_het_cutoff  = 5          // Minimum heterozygous SNPs for LOH call

    // Help
    help            = false
}

// Process configuration
process {
    errorStrategy = 'retry'
    maxRetries = 2

    withLabel: 'process_low' {
        cpus = 2
        memory = '4.GB'
        time = '2.h'
    }

    withLabel: 'process_medium' {
        cpus = 4
        memory = '8.GB'
        time = '4.h'
    }

    withLabel: 'process_high' {
        cpus = 8
        memory = '16.GB'
        time = '8.h'
    }

    withName: 'SPECHLA' {
        container = "${params.container_dir}/spechla_1.0.7-3.sif"
        cpus = { params.max_cpus }
        memory = '16.GB'
        time = '4.h'
    }

    withName: 'HLAHD' {
        container = "${params.container_dir}/hlahd.sif"
        cpus = { params.max_cpus }
        memory = '16.GB'
        time = '4.h'
    }

    withName: 'HLALA' {
        container = "${params.container_dir}/hlala.sif"
        cpus = { params.max_cpus }
        memory = '20.GB'  // HLA*LA needs more memory
        time = '6.h'
        containerOptions = "--bind ${params.hlala_graphs}:/usr/local/bin/HLA-LA/graphs"
    }

    withName: 'ARCASHLA' {
        container = "${params.container_dir}/arcashla.sif"
        cpus = { params.max_cpus }
        memory = '8.GB'
        time = '2.h'
    }

    withName: 'OPTITYPE' {
        container = "${params.container_dir}/optitype.sif"
        cpus = 4
        memory = '8.GB'
        time = '2.h'
    }

    withName: 'CONSENSUS' {
        cpus = 1
        memory = '2.GB'
        time = '30.m'
    }

    withName: 'QC_BAM' {
        cpus = 2
        memory = '4.GB'
        time = '1.h'
    }

    withName: 'QC_FASTQ' {
        cpus = 2
        memory = '4.GB'
        time = '1.h'
    }

    withName: 'SPECHLA_FASTQ' {
        container = "${params.container_dir}/spechla_1.0.7-3.sif"
        cpus = { params.max_cpus }
        memory = '16.GB'
        time = '4.h'
    }

    withName: 'HLAHD_FASTQ' {
        container = "${params.container_dir}/hlahd.sif"
        cpus = { params.max_cpus }
        memory = '16.GB'
        time = '4.h'
    }

    withName: 'ARCASHLA_FASTQ' {
        container = "${params.container_dir}/arcashla.sif"
        cpus = { params.max_cpus }
        memory = '8.GB'
        time = '2.h'
    }

    withName: 'OPTITYPE_FASTQ' {
        container = "${params.container_dir}/optitype.sif"
        cpus = 4
        memory = '8.GB'
        time = '2.h'
    }

    withName: 'FASTQC_BAM' {
        cpus = 2
        memory = '4.GB'
        time = '1.h'
    }

    withName: 'FASTQC_FASTQ' {
        cpus = 2
        memory = '4.GB'
        time = '1.h'
    }

    withName: 'HLA_VISUALIZE' {
        cpus = 1
        memory = '4.GB'
        time = '30.m'
    }

    withName: 'HLA_SUMMARY_REPORT' {
        cpus = 1
        memory = '4.GB'
        time = '30.m'
    }

    withName: 'MULTIQC' {
        cpus = 1
        memory = '4.GB'
        time = '30.m'
    }

    withName: 'HLA_LOH' {
        cpus = 1
        memory = '4.GB'
        time = '30.m'
    }

    withName: 'HLA_LOH_VISUALIZE' {
        cpus = 1
        memory = '4.GB'
        time = '30.m'
    }

    withName: 'HLA_LOH_SUMMARY' {
        cpus = 1
        memory = '4.GB'
        time = '30.m'
    }
}

// Profiles
profiles {
    standard {
        process.executor = 'local'
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = '--writable-tmpfs'
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
        process.clusterOptions = '--account=your_account'
    }

    test {
        params.max_cpus = 2
        params.max_memory = '6.GB'
        params.max_time = '1.h'
    }
}

// Manifest
manifest {
    name            = 'hla-typing-pipeline'
    author          = 'HLA Analysis Team'
    homePage        = 'https://github.com/your-org/hla-typing-pipeline'
    description     = 'Multi-tool HLA typing pipeline with weighted consensus voting and visualization'
    mainScript      = 'main.nf'
    nextflowVersion = '>=22.10.0'
    version         = '1.2.0'
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Timeline, report, trace
def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline_${timestamp}.html"
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report_${timestamp}.html"
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace_${timestamp}.txt"
}
