/*
 * Local reduced RNA debug overlay.
 *
 * Targets the current RNA-compatible tool set used in this local debug pass:
 * arcasHLA, OptiType, and seq2HLA.
 */

params {
    tools       = 'arcashla,optitype,seq2hla'
    seq_type    = 'rna'
    reference   = 'hg38'
    skip_qc     = true
    min_tools   = 1
    max_cpus    = 4
    max_memory  = '16.GB'
    max_time    = '8.h'
}
