/*
 * Local reduced RNA debug overlay.
 *
 * Targets the RNA-compatible tool set used in calibration/E2E:
 * arcasHLA, OptiType, T1K, and seq2HLA.
 */

params {
    tools       = 'arcashla,optitype,t1k,seq2hla'
    seq_type    = 'rna'
    reference   = 'hg38'
    skip_qc     = true
    min_tools   = 1
    max_cpus    = 4
    max_memory  = '16.GB'
    max_time    = '8.h'
}
