/*
 * Local reduced WES debug overlay.
 *
 * Uses the same shared preprocessing path as the main BAM workflow and keeps
 * the WES/Puhti-relevant tool set: HLA-HD, SpecHLA, arcasHLA, and OptiType.
 */

params {
    tools       = 'hlahd,spechla,arcashla,optitype'
    seq_type    = 'wes'
    reference   = 'hg19'
    skip_qc     = true
    min_tools   = 1
    max_cpus    = 4
    max_memory  = '16.GB'
    max_time    = '8.h'
}
